@import 'tailwindcss';

/* Кастомные переменные */
@theme {
  --color-accent: #9d174d;
  --color-error: #9d2323;
  --color-dark-main: #030712;
  --color-dark-lighter: #101828;
  --font-pacifico: 'var(--font-pacifico)';
  --breakpoint-xs: 450px;
}

/* Кастомный класс для эффектов увеличения элемента */
.state-effects {
  @apply hover:scale-105 focus:scale-105 active:scale-[1.02] transition;
}

/* SCROLL BAR */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 2rem;
}

::-webkit-scrollbar-track {
  background: rgb(15, 16, 21);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: gba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: 2rem;
  scrollbar-color: rgb(15, 16, 21) rgba(255, 255, 255, 0.1);
}

/* АНИМАЦИЯ СПИННЕРА */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0%,
  100% {
    border-top-color: #3498db;
    border-bottom-color: #3498db;
  }
  50% {
    border-top-color: #ff6347;
    border-bottom-color: #ff6347;
  }
}
